@font-face {
  font-family: Helvetica;
  src: url(font/Helvetica.woff);
}
@font-face {
font-family: Helvetica Oblique;
src: url(font/Helvetica-Oblique.woff);
}

@font-face {
font-family: Helvetica Bold;
src: url(font/Helvetica-Bold.woff);
}

@font-face {
font-family: Helvetica Bold Oblique;
src: url(font/Helvetica-BoldOblique.woff);
}

@font-face {
font-family: Minion Regular;
src: url(font/Minion Regular.ttf);
}

body{
	font-family: Helvetica, Arial, sans-serif!important; 
}
nav {
	background-color: #000;
	font-size: 14px;
}
nav ul li a{
	font-family: Minion Regular, Times, Times New Roman, serif!important;
}

.nav-link:hover{
	color: #fff !important;
}
.dropdown-menu{
	background-color: #000 !important;
}
.dropdown-menu .dropdown-item{
	color: rgba(255,255,255,.5);
	font-size: 14px;
}
.dropdown-menu .dropdown-item:hover{
	background-color: transparent !important;
}
.dropdown-menu ul{
	list-style-type: none;
}
.dropdown-menu .dropdown-item a{
	color: rgba(255,255,255,.5);
}
.dropdown-menu .dropdown-item a:hover{
	color: #fff;
	text-decoration: none;
}
.dropdown-menu .dropdown-item .border-bottom{
	border-bottom: 1px solid rgba(255,255,255,.5);
}
