@font-face {
  font-family: Helvetica;
  src: url(font/Helvetica.woff);
}
@font-face {
	font-family: Futura;
	src: url(font/ufontscomfuturabook.woff);
}
@font-face {
font-family: Helvetica Oblique;
src: url(font/Helvetica-Oblique.woff);
}

@font-face {
font-family: Helvetica Bold;
src: url(font/Helvetica-Bold.woff);
}

@font-face {
font-family: Helvetica Bold Oblique;
src: url(font/Helvetica-BoldOblique.woff);
}

@font-face {
font-family: Minion Regular;
src: url(font/Minion Regular.woff);
}

body{
	font-family: "Futura", Helvetica, Arial, sans-serif!important;
	color: #666 !important;
}
a:hover{
	text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6{
	color: #766b58;
}
/* header*/
nav {
	background-color: #000;
	font-size: 14px;
}
nav ul li a{
	font-family: Futura, Times, "Times New Roman", serif!important;
}
.nav-link{
	color: #b2b2b2 !important;
}
.nav-link:hover{
	color: #fff !important;
}
.dropdown-menu{
	background-color: #000 !important;
}
.dropdown-menu .dropdown-item{
	color: #b2b2b2;
	font-size: 14px;
}
.dropdown-menu .dropdown-item:hover{
	background-color: transparent !important;
}
.dropdown-menu ul{
	list-style-type: none;
}
.dropdown-menu .dropdown-item a{
	color: #b2b2b2;
}
.dropdown-menu .dropdown-item a:hover{
	color: #fff;
	text-decoration: none;
}
.dropdown-menu .dropdown-item .border-bottom{
	border-bottom: 1px solid #b2b2b2;;
}
.nav-item .reservation{
	background: linear-gradient(to bottom,#ad9d83 0,#7f7159 100%);
	font-size: 13px;
	color: #fff;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 8px 20px;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	letter-spacing: .05em;
}
.nav-item .second-nav{
	font-size: 11px;
}
/*index*/
.inforbox {
	border: solid 1px #afa593;
	padding: 25px 30px 5px !important;
	color: #666;
}
.inforbox .infortitle{
	font-size: 22px;
	line-height: 22px;
	color: #ad9d83;
	font-family: Minion Regular;
	font-style: italic;
}
.small-line{
	width: 50px;
	border: 0;
	border-top: solid 2px #ad9d83;
	margin: 25px auto;
}
.inforbox .infortext {
	font-size: 13px;
	word-wrap: break-word;
	font-family: Futura;
}
.inforbox a{
	color: #ad9d83;
	text-decoration: none;
	letter-spacing: .02em;
	font-size: 11px;
}
.inforbox a:hover{
	color: #ad9d83;
}
.hospitality{
	background-color: #f6f6f6 !important;
}
.hospitality h2 {
	font-family: Minion Regular;
	font-size: 35px;
}
.hospitality h2 .hos-subtitle{
	font-style: italic;
	color: #ad9d83;
}
.center-line{
	width: 90px;
	border: 0;
	border-top: solid 2px #ad9d83;
	margin: 25px auto;
}
.Fea-title{
	color: #ad9d83;
	font-size: 22px;
	font-family: Minion Regular;
}
.services h5{
	font-size: 18px;
	font-family: Minion Regular;
	font-style: italic;
}
.services p{
	font-size: 13px;
	font-family: Futura;
}
.packages .box-shadow{
	box-shadow: 0 0 5px 0 rgba(0,0,0,.12);
}
.packages .bg-infor{
	background: url(../img/FFFFFF70.png) repeat;
}
.packages .subhead{
	color: #000;
	font-family: Futura;
	line-height: 11px;
	margin-bottom: 5px;
	font-size: 11px;
}
.packages .bg-infor h3{
	color: #766b58;
	font-size: 26px;
	font-family: Minion Regular;
	font-style: italic;
}
.packages .bg-infor p{
	word-wrap: break-word;
	color: #666;
	font-family: Futura;
	font-size: 13px;
	font-weight: bold;
}
.packages .bg-infor a{
	font-size: 11px;
	color: #ad9d83;
	font-family: Futura;
	letter-spacing: .02em;
}
.packages .bg-infor h5{
	font-family: Minion Regular;
	font-style: italic;
}
.tour {
	border: solid 1px #afa593;
}
.tour ul{
	list-style-type: none;
}
.tour .tour-border{
	border-bottom: solid 1px #ddd;
	overflow: hidden;
}
.tour .tour-border .tour-name{
	color: #766b58;
	font-size: 18px;
	font-family: Minion Regular;
	font-style: italic;
}
.tour .tour-border .tour-view{
	color: #ad9d83;
	text-decoration: none;
	letter-spacing: .02em;
	font-size: 11px;
	line-height: 22px;
}
/*footer*/
footer{
	min-height: 260px;
	overflow: hidden;
	background: #000000;
}
footer h6{
	font: 14px "Futura",Times,"Times New Roman",serif;
}
footer ul {
	list-style-type: none;
	font-size: 13px
}
footer a{
	color: #b7b7b7;
}
footer a:hover{
	color: #b7b7b7;
}
footer .adress{
	border-bottom: 1px solid #333;
}
footer .social li a{
	width: 23px;
    height: 23px;
    overflow: hidden;
    text-indent: -9999em;
    background: transparent url(../img/icons.png) no-repeat 0 0;
    display: block;
}
footer .social li.facebook a{
	background-position: -12px -50px;
}
footer .social li.instagram a{
	background-position: -210px -88px;
}
footer .social li.youtube a{
	background-position: -50px -50px;
}
footer .newsletter {
	font-size: 13px;
}
/* back to top*/
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 15px !important;
	font-weight: bold;
	border: none;
	outline: none;
	cursor: pointer;
}
/* Modal Reservation*/
.modal-backdrop{
	z-index: 1000!important;
}
.modal-content{
	border-radius: 0!important;
	background: url(../img/texture.png),linear-gradient(to bottom,#121212 0,#000 100%);;
}
.modal-title {
	font: 22px Minion Regular,Times,"Times New Roman",serif;
	font-style: italic;
}
.modal-body label{
	line-height: 30px;
	color: #666;
}
