@font-face {
  font-family: Helvetica;
  src: url(font/Helvetica.woff);
}
@font-face {
	font-family: Futura;
	src: url(font/ufontscomfuturabook.woff);
}
@font-face {
font-family: Helvetica Oblique;
src: url(font/Helvetica-Oblique.woff);
}

@font-face {
font-family: Helvetica Bold;
src: url(font/Helvetica-Bold.woff);
}

@font-face {
font-family: Helvetica Bold Oblique;
src: url(font/Helvetica-BoldOblique.woff);
}

@font-face {
font-family: Minion Regular;
src: url(font/Minion Regular.woff);
}

body{
	font-family: "Futura", Helvetica, Arial, sans-serif!important;
	color: #666 !important;
}
a:hover{
	text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6{
	color: #766b58;
}
/* header*/
nav {
	background-color: #000;
	font-size: 14px;
}
nav ul li a{
	font-family: "Minion Regular", Times, "Times New Roman", serif!important;
}
.nav-link{
	color: #b2b2b2 !important;
}
.nav-link:hover{
	color: #fff !important;
}
.dropdown-menu{
	background-color: #000 !important;
}
.dropdown-menu .dropdown-item{
	color: #b2b2b2;
	font-size: 14px;
}
.dropdown-menu .dropdown-item:hover{
	background-color: transparent !important;
}
.dropdown-menu ul{
	list-style-type: none;
}
.dropdown-menu .dropdown-item a{
	color: #b2b2b2;
}
.dropdown-menu .dropdown-item a:hover{
	color: #fff;
	text-decoration: none;
}
.dropdown-menu .dropdown-item .border-bottom{
	border-bottom: 1px solid #b2b2b2;;
}
.nav-item .reservation{
	background: linear-gradient(to bottom,#ad9d83 0,#7f7159 100%);
	font-size: 13px;
	color: #fff;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 8px 20px;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	letter-spacing: .05em;
}
.nav-item .second-nav{
	font-size: 11px;
}
/*index*/
.inforbox {
	border: solid 1px #afa593;
	padding: 25px 30px 5px !important;
	color: #666;
}
.inforbox .infortitle{
	font-size: 22px;
	line-height: 22px;
	color: #ad9d83;
	font-family: Minion Regular;
	font-style: italic;
}
.small-line{
	width: 50px;
	border: 0;
	border-top: solid 2px #ad9d83;
	margin: 25px auto;
}
.inforbox .infortext {
	font-size: 13px;
	word-wrap: break-word;
	font-family: Futura;
}
.inforbox a{
	color: #ad9d83;
	text-decoration: none;
	letter-spacing: .02em;
	font-size: 11px;
}
.inforbox a:hover{
	color: #ad9d83;
}
.hospitality{
	background-color: #f6f6f6 !important;
}
.hospitality h2 {
	font-family: Minion Regular;
	font-size: 35px;
}
.hospitality h2 .hos-subtitle{
	font-style: italic;
	color: #ad9d83;
}
.center-line{
	width: 90px;
	border: 0;
	border-top: solid 2px #ad9d83;
	margin: 25px auto;
}
.Fea-title{
	color: #ad9d83;
	font-size: 22px;
	font-family: Minion Regular;
}
.services h5{
	font-size: 18px;
	font-family: Minion Regular;
	font-style: italic;
}
.services p{
	font-size: 13px;
	font-family: Futura;
}
.packages .box-shadow{
	box-shadow: 0 0 5px 0 rgba(0,0,0,.12);
}
.packages .bg-infor{
	background: url(../img/FFFFFF70.png) repeat;
}
.packages .subhead{
	color: #000;
	font-family: Futura;
	line-height: 11px;
	margin-bottom: 5px;
	font-size: 11px;
}
.packages .bg-infor h3{
	color: #766b58;
	font-size: 26px;
	font-family: Minion Regular;
	font-style: italic;
}
.packages .bg-infor p{
	word-wrap: break-word;
	color: #666;
	font-family: Futura;
	font-size: 13px;
	font-weight: bold;
}
.packages .bg-infor a{
	font-size: 11px;
	color: #ad9d83;
	font-family: Futura;
	letter-spacing: .02em;
}
.packages .bg-infor h5{
	font-family: Minion Regular;
	font-style: italic;
}
.tour {
	border: solid 1px #afa593;
}
.tour ul{
	list-style-type: none;
}
.tour .tour-border{
	border-bottom: solid 1px #ddd;
	overflow: hidden;
}